#sezonn {
  font-family: Times New Roman;
  text-align: center;
  border-collapse: collapse;
  width: 45%;
  margin-left: auto; 
  margin-right: auto;
  
}

#sezonn td, #sezonn th {
  border: 1px solid #ddd;
  padding: 12px;
}

#sezonn tr:nth-child(even){background-color: white;}

#sezonn tr {background-color: white;}

#sezonn th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}